
<div class="container" style="padding-top: 10px;">
  <h2> Bar code Number Generator</h2>
</div>

<div  style="padding-top: 40px;">
  <div class="container">
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" class="form-horizontal">
  <div class="form-group">
    <label for="name" style="padding-bottom: 10px;">Starting Number</label>
    <input type="text" id="startingNum" name="startingNum" class="form-control" ngModel required>
  </div>

  <div class="form-group">
    <label for="email" style="padding-top: 10px;padding-bottom: 10px;">Number Gap</label>
    <input type="text" id="gap" name="gap" class="form-control" ngModel required>
  </div>

   <div style="padding-top: 20px;">
    <button type="submit" class="btn btn-primary" >Generate</button>
   </div>
  
</form>
</div>
  
<div>
  <ul *ngFor="let res of result">
     <li> {{res}}</li>
  </ul>
</div>


</div>



<!-- ng build --output-path docs --base-href /bar-code-num-generator/ -->